<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout-1</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="wrapper">

    <section class="layout-container">
      <article class="nav-item align-stretch">
        <h2>Nav</h2>
        <nav class="nav">
          <ul class="nav-list">
            <li class="navigation-item"><a class="navigation-link" href="#">Home</a></li>
            <li class="navigation-item"><a class="navigation-link" href="#">About</a></li>
            <li class="navigation-item"><a class="navigation-link" href="#">Clients</a></li>
            <li class="navigation-item"><a class="navigation-link" href="#">Contact Us</a></li>
          </ul>
        </nav>
      </article>
      <article class="content-item align-stretch">
        <h2>Main Content</h2>
        <h3>I'm first in the source order</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus eros. Fusce at pulvinar urna, 
          ac venenatis risus. Donec cursus diam eget libero sollicitudin sodales. Vestibulum et diam scelerisque, 
          blandit turpis sit amet, suscipit nulla. Curabitur erat turpis, venenatis interdum ex sed, efficitur 
          scelerisque sapien. Integer et erat libero.</p> 
          
          <p>Donec tristique sapien id finibus ornare. Vestibulum nec 
          dolor sem. Nullam quis neque ac ipsum ornare laoreet. Nam nec neque a ipsum vestibulum suscipit vel 
          sit amet neque. Nulla ullamcorper viverra lacus quis mollis. Mauris non libero ex. Nam suscipit felis 
          vel aliquam hendrerit. Curabitur sagittis urna ac hendrerit imperdiet. Nam auctor velit metus, 
          a faucibus tellus venenatis eget. Donec a placerat mi.</p>

          <p>Nullam nec semper velit, venenatis varius diam. Nam id odio non turpis ornare mollis. Aenean varius 
          laoreet dui, eu sollicitudin nunc semper nec. Nunc quis euismod nulla, at mollis nisi. Mauris quam 
          libero, ultricies a enim a, condimentum faucibus turpis. Sed in ornare tortor. Lorem ipsum dolor sit 
          amet, consectetur adipiscing elit.</p>
      </article>
      <article class="sidebar-item align-stretch">
        <h2>Sidebar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non cursus eros. Fusce at pulvinar urna, 
          ac venenatis risus. Donec cursus diam eget libero sollicitudin sodales.</p>
      </article>
    </section>
    </div>