* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #eee;
}

section {
  margin: 20em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

.wrapper {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.layout-container {
  display: flex;
  flex-direction: row;
  width: 40em;
  min-height: 30em;
  border: .125em dashed #666;
}
.nav-item {
  padding: 1em;
  min-width: 30%;
  background-color: gray;
}
.content-item {
  padding: 1em;
  min-width: 70%;
  background-color: white;
}

.sidebar-item {
  padding: 1.5em;
  flex: 0 1 65%;
  background-color: gray;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-stretch {
  align-self: stretch;
}